main {
    background-image: url(./img/starbucks-caffeÌ€-tazza-caffetteria-donna-ragazza-AdobeStock_300710206_Editorial_Use_Only-scaled.jpeg) ;
    
    
}

.starbucks-color {
    color: rgb(0, 112, 64) ;
}